<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Payroll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
        .bs-example {
            margin: 20px;
        }

        .container {
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }

        .fixed-footer {
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }

        .fixed-footer {
            bottom: 0;
        }

        .container p {
            line-height: 200px; /* Create scrollbar to test positioning */
        }
    </style>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                    </div>
                </div>
            </div>
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </nav>
</div>
<div class="bs-example">

    <div class="bs-example">
        <!-- Button trigger modal for Employee-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
            Add a new Employee
        </button>
    </div>


    <!-- Modal for adding Employee-->
    <div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add employee details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/newEmployee" method="post">
                        <div class="form-group">
                            <label for="formGroupExampleInput">First Name</label>
                            <input name="first_name" required type="text" class="form-control"
                                   id="formGroupExampleInput">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Second Name</label>
                            <input name="second_name" required type="text" class="form-control"
                                   id="formGroupExampleInput">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Gender</label>
                            <select name="gender" required class="form-control"
                                    id="formGroupExampleInput">
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                                <option value="na">N/A</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">National ID</label>
                            <input name="national_id" required type="text" class="form-control"
                                   id="formGroupExampleInput"
                                   placeholder="12345678">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">KRA PIN</label>
                            <input name="kra_pin" required type="text" class="form-control" id="formGroupExampleInput"
                            >
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input name="email" required type="email" class="form-control"
                                   id="inputformGroupExampleInput"
                                   placeholder="name@outlook.com">

                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Department</label>
                            <select name="dpt_name" required type="text" class="form-control">
                                {% for each in departments %}
                                    <option value="{{ each.id }}">{{ each.dpt_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Basic Salary</label>
                            <input name="basic_salary" required type="number" class="form-control"
                                   id="formGroupExampleInput"
                            >
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Allowances</label>
                            <input name="allowances" required type="number" class="form-control"
                                   id="formGroupExampleInput"
                            >
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Other deductions</label>
                            <input name="other_deductions" required type="number" class="form-control"
                                   id="formGroupExampleInput"
                            >
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-control btn-primary">
                        </div>

                    </form>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>

<div class="bs-example">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Department ID</th>
            <th scope="col">Department name</th>
            <th scope="col">Employees</th>
        </tr>
        </thead>

        <!--<tbody>
        {% for each in departments %}

        <tr>
            <th scope="row">{{ each.id }}</th>
            <td>{{ each.dpt_name }}</td>
        <td><button><a href="/employees/{{ each.id }}">View employees</a> </button></td>
        </tr>
        {% endfor %}

        </tbody> -->
    </table>
</div>

<div class="fixed-footer">

    <div class="container">Copyright &copy; 2019 Visron Company</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>