{% extends "layout.html" %}
{% block content %}

    <div class="bs-example">
        <div class="bs-example">
            <!-- Button trigger modal for Employee-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
                Add a new Employee
            </button>
        </div>

        <!-- Modal for adding Employee-->
        <div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add employee details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/newEmployee" method="post">
                            <div class="form-group">
                                <label for="formGroupExampleInput">First Name</label>
                                <input name="first_name" required type="text" class="form-control"
                                       id="formGroupExampleInput">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Second Name</label>
                                <input name="second_name" required type="text" class="form-control"
                                       id="formGroupExampleInput">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Gender</label>
                                <select name="gender" required class="form-control"
                                        id="formGroupExampleInput">
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                    <option value="na">N/A</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="formGroupExampleInput">National ID</label>
                                <input name="national_id" required type="text" class="form-control"
                                       id="formGroupExampleInput"
                                       placeholder="12345678">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">KRA PIN</label>
                                <input name="kra_pin" required type="text" class="form-control"
                                       id="formGroupExampleInput"
                                >
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Email</label>
                                <input name="email" required type="email" class="form-control"
                                       id="inputformGroupExampleInput"
                                       placeholder="name@outlook.com">

                            </div>
                            <div class="form-group">

                                <input name="dpt_name" type="hidden" class="form-control" value="{{ dept_id }}">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Basic Salary</label>
                                <input name="basic_salary" required type="number" class="form-control"
                                       id="formGroupExampleInput"
                                >
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Allowances</label>
                                <input name="allowances" required type="number" class="form-control"
                                       id="formGroupExampleInput"
                                >
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Other deductions</label>
                                <input name="other_deductions" required type="number" class="form-control"
                                       id="formGroupExampleInput"
                                >
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary">
                            </div>

                        </form>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Second Name</th>
                <th scope="col">Full name</th>
                <th scope="col">Gender</th>
                <th scope="col">ID No:</th>
                <th scope="col">KRA PIN</th>
                <th scope="col">Email</th>
                <th scope="col">Department ID</th>
                <th scope="col">Basic Salary</th>
                <th scope="col">Allowances</th>
                <th scope="col">Other Deductions</th>
                <th scope="col">Department</th>

            </tr>
            </thead>

            <tbody>
            {% for each in employees %}


                <tr>
                    <th scope="row">{{ each.id }}</th>
                    <td>{{ each.first_name }}</td>
                    <td>{{ each.second_name }}</td>
                    <td>{{ each.first_name+" "+each.second_name }}</td>
                    <td>{{ each.gender }}</td>
                    <td>{{ each.national_id }}</td>
                    <td>{{ each.kra_pin }}</td>
                    <td>{{ each.email }}</td>
                    <td>{{ each.departmentID }}</td>
                    <td>{{ each.basic_salary }}</td>
                    <td>{{ each.allowances }}</td>
                    <td>{{ each.other_deductions }}</td>
                    <td>
                        <button><a href="/payrolls/{{ each.id }}">View Payroll</a></button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

