<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    /
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
         .container{
        border:2px solid blue;
        text-align:center;

        height:500px;
        width:400px;
    }
    body{
        padding:70px;
    }
    h1{
        margin:auto;
    }
    .row{
        height:90px;
        width:396px;
        background-color:paleturquoise;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>

    </div>
    <br/><br/>


    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
        </div>
        <input type="email" name="" class="form-control" placeholder="username or email"/>
    </div>
    <br/>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key icon"></i></span>
        </div>
        <input type="Password" name="password" class="form-control" placeholder="password"/>
    </div>
    <br/>
    <div class="checkbox">
        <label><input type="checkbox" value=""/> Remember me</label>
    </div>
    <br/>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Login</button>

    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-remove"></span>Login with Facebook
    </button>
    <br/>
    <br/>
    <div style="text-align: center;">

        <div style="border:1px solid black;height:1px;width:300px;"></div>
    </div>
    <br/>
    <div class="footer">
        <p>Don't have an Account! <a href="registration">Sign Up Here</a></p>
        <p>Forgot <a href="#">Password?</a></p>
    </div>

</div>

</body>
</html>