{% extends "layout.html" %}
{% block content %}


    <div class="bs-example">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Payroll ID</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Month</th>
                <th scope="col">Gross Salary</th>
                <th scope="col">NSSF Deductions</th>
                <th scope="col">NHIF Deductions</th>
                <th scope="col">Taxable income</th>
                <th scope="col">PAYE</th>
                <th scope="col">Overtime</th>
                <th scope="col">Salary Advance</th>
                <th scope="col">Other Deductions</th>
                <th scope="col">Net Salary</th>
                <th scope="col"></th>


            </tr>
            </thead>

            <tbody>

            {% for each in this_payroll_employee.emp_payrolls %}
                <tr>
                    <th scope="row">{{ each.id }}</th>
                    <td>{{ each.employee_id }}</td>
                    <td>{{ each.dept_name }}</td>
                    <td>{{ each.payroll_month }}</td>
                    <td>{{ each.gross_salary }}</td>
                    <td>{{ each.nssf_deductions }}</td>
                    <td>{{ each.nhif_deductions }}</td>
                    <td>{{ each.taxable_income }}</td>
                    <td>{{ each.PAYE }}</td>
                    <td>{{ each.overtime }}</td>
                    <td>{{ each.salary_advance }}</td>
                    <td>{{ each.other_deductions }}</td>
                    <td>{{ each.net_salary }}</td>
                    <td>
                       <a href="" class="btn btn-success btn-lg">
                            <span class="glyphicon glyphicon-print"></span> Print Payslip
                        </a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

